{% extends 'admin/base.html.twig' %}

{% block title %}Connexion Administrateur!{% endblock %}
{% block stylesheets %}
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
        }
        .card {
            margin-top: 10%;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="col-md-5">
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-lock"></i>
                    Connexion à l'administration
                </h4>
            </div>
            {% if hasError %}
                <div class="alert alert-danger">Erreur connexion : mauvais utilisateur ou mot de passe ! </div>
            {% endif %}
            <div class="card-body clearfix">
                <form method="post">
                    <div class="form-group"><label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse email..." name="_username"></div>
                    <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe..." name="_password"></div>
                    <div class="form-control clearfix">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-lock-open"></i>
                            connecter
                        </button>
                        <a href="{{path('homepage')}}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            retourner à l'accueil
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
