<!-- utilisation des icones étoile de fontawesome.com --> 
<span class="rating">
    {% for i in 1..5 %}
        {% if rating >= i %}
            <i class="fas fa-star"></i>
        {% elseif rating < i and rating > i-1 %}
            <i class="fas fa-star-half-alt"></i>
        {% else %}
            <i class="far fa-star"></i>
        {% endif %}
    {% endfor %}
</span>
