<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
<!-- La ligne en dessous rend le site responsive, mais j'en ai pas eu besoin ?? --> 
        <meta name="viewport" content="width=device-width, user-scalable=no">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.user %}
            {% include 'admin/partials/header.html.twig' %}
        {% endif %}
        {% block body %}{% endblock %}
        {% if app.user %}
            {% include 'admin/partials/footer.html.twig' %}
        {% endif %}
        <script src="https://kit.fontawesome.com/384c53c52c.js" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
